<script type="text/template" data-name="input">
<div class="post-wrap">
    <textarea placeholder="请输入内容，不超出200个字" cols="30" rows="10"></textarea>
    <p class="t-r">
        <input type="submit" value="发布">
    </p>

    <h3>开发仅3步：</h3>
    <ol>
        <li>1、在/pages.json中加入一项功能配置，例如：
<p>
<img src="/assets/images/pages.json.png" alt="">
</p>
        </li>
        <li>2、在/assets/css/目录下添加和上述配置同名的 home.css，和home功能相关的样式都写这里。</li>
        <li>3、在/assets/js/pages/目录中新建和上述配置相同的名称目录home，然后添加home.js, home.tmpl
<p>home.js如下内容</p>

<img src="/assets/images/home.js.png" alt="">

<p>home.tmpl如下：</p>
<img src="/assets/images/home.tmpl.png" alt="">
        </li>
    </ol>
</div>
</script>