// Core variables and mixins
@import "variables.less"; // css变量，会定义些文字大小，颜色等，方便全局公用
@import "module.less"; // css模块儿
@import "mixins.less"; // css 公用class 常见的基础公用类 比如 .clearfix; .hide-text; .hor-list; .triangle;
@import "animations.less";
@import "chart.less"; // 图表
/* end of common */